header {
	margin-left: 3%;
	color: #787987;
	font: sans-serif;
}

header > h1 {
	float: left;
	margin-right: 10%;
	font-size: 32pt;
}

header > h2 {
	font-size: 22.4pt;
}

#res {
	margin-left: 25%;
	margin-bottom: 1%; 
	color: #485c6e;
	font-size: 28pt;
	border-style: solid;
	border-radius: 10px;
	width: 50%;
	background-color: rgba(255,221,172,0.7)
}

#mainForm {
	margin-top: 6%;
	margin-left: 6%;
	float: left;
	color: #485c6e;
	width: 50%;
}

#content {
	font-size: 28pt;
}

#image {
	margin-right: 4%;
	float: right;
	width: 40%;
	height: 72%;
}

#ok {
	margin-left: 41%;
}

.option {
	width: 20%;
	font-size: 28pt;
	color: #485c6e;
	background-color: #c9beaa;
}

html {
	background: url("res/fon.png");
	background-size: cover;
	height: 100%;
}

body {
	margin-top: 10%;
	margin-left: auto;
    margin-right: auto;
	width: 60%;
	height: 60%;
	color: #485c6e;
	border-style: solid;
	border-radius: 10%;
	background-color: rgba(255,221,172,0.4)
}