#lab_title {
	color: #d48889;
	font-size: 35px;
}

#name {
	color: #d48889;
	font-size: 20px;
}

#res {
	color: #d48889;
	font-size: 25px;
}

#mainForm {
	color: #f0897d;
	font-size: 25px;
}

input {
	color: #6f5278;
	font-size: 25px;
	background-color: #f09e91;
}

select {
	color: #6f5278;
	font-size: 25px;
	background-color: #f09e91;
}

html {
	background-color: #6f5278;
}